/.settings
/.project
/cloud-config-server/.settings
/cloud-config-server/.project
/cloud-config-server/.classpath
/cloud-simple-service/.settings
/cloud-simple-service/.classpath
/cloud-simple-service/.project
